@model HospitalManagementSystem.Models.Patient

@{
    ViewBag.Title = "Create";
    @*if(ViewBag.layout==2)
    {
            Layout = "~/Views/Shared/_LayoutRecep.cshtml";
    }
    else
    {
            Layout = "~/Views/Shared/_Layout.cshtml";

    }*@
       Layout = "~/Views/Shared/_LayoutRecep.cshtml";

}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    .btn-patient,

    .btn-patient:visited,
    .btn-patient:hover,
    .btn-patient:focus {
        background-color: #e9e4e2 !important;
        border-color: #e9e4e2 !important;
    }

    .btn-patient:active
    {
        background-color: darkgrey !important;
        border-color: darkgrey !important;
        color:grey !important;

    }
</style>
</head>
<body>
    <form name="f1" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class=" d-flex justify-content-center align-items-center vh-100 ">
            <div class="card rounded" style="width: 70rem;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);">
                <div class=" card-header text-center " style="background-color:#e9e4e2; margin-left:-1px; margin-right:-1px; margin-top:-1px;">
                    <h4>Add Patient</h4>
                </div>
                <div class="card-body" style="padding-left:5rem;">
                    <br />
                    <br />

                    <div class="form row">
                        <div class=" col-md-6">
                            <label class="col-form-label">First Name</label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" ,@placeholder="Enter First Name"} })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label">Last Name</label>

                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <br />

                    <div class=" form row">
                        <label class="col-sm-3 col-form-label">Photo</label>
                        <div class="col-sm-9">
                            <input type="file" name="postedFile">
                        </div>
                    </div>
                    <br />
                    <br />

                    <div class=" form row">
                        <div class="col-md-6">
                            <label class="col-form-label">Date of Birth</label>

                            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                        </div>
                        <div class=" col-md-6">
                            <label class="col-form-label">Blood Group</label>

                            @Html.EditorFor(model => model.BloodGroup, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BloodGroup, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <div class="form row">
                        <div class="col-md-6">
                            <label class="col-form-label">Gender</label>
                        </div>
                        <div class="col-md-6">
                            @Html.RadioButton("RbGender", "Male", isChecked: true) @Html.Label("Male")
                            @Html.RadioButton("RbGender", "Female", isChecked: false) @Html.Label("Female")

                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br/>
                    <div class="form row">
                        <div class="col-md-6">
                            <label class=" col-form-label">Email</label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class=" col-form-label">Phone</label>
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <br />

                    <div class=" form row">
                        <div class="col-md-6">
                            <label class=" col-form-label">Status</label>
                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label">Assign Doctor</label>
                            @Html.EditorFor(model => model.DoctorID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DoctorID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                </div>
                <br/>
                <div class=" d-flex justify-content-center">
                    <button type="submit" value="submit" class="btn btn-patient col-sm-4">Add</button>
                </div>
                <br />
            </div>
            <br />
             </div>

            <div>
                <button onclick="location.href='@Url.Action("Index","Patients",new { l=2})';return false;" class="btn btn-dark">Back To List</button>
            </div>

    </form>
    
</body>
</html>
