@model IEnumerable<HospitalManagementSystem.Models.PatientReport>
@{
    ViewBag.Title = "ExistingPatientReport";
    if (ViewBag.layout == 1)
    {
        Layout = "~/Views/Shared/_LayoutDoc.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="@Url.Action("~/scripts/jquery-3.3.1.min.js")"></script>
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Content/scrollbar.css" rel="stylesheet" />
    <style>
        .scrollb {
            overflow-x: hidden;
            overflow-y: scroll;
        }
    </style>

</head>
<body>

    <div class="container-fluid py-4 min-vh-100">
        <br />
        <br />
        <div class="form row">
            <div class="card" style="width: 40rem; height:55rem; margin-right:40px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);">
                <div class="card-header bg-dark text-center" style="margin-left:-1px; margin-right:-1px;">


                    <h4 style="color:#fafafa;">Patient Details</h4>
                </div>
                @foreach (var i in Model)
                {
                    <div style="padding:15px;" align="middle">
                        <img src=@Url.Content(i.patient.Photo) style="height:80px;width:80px;" />
                    </div>

                    <div class="card-body" style="padding-bottom:0px;">
                        <p class="text-center" style="color:skyblue; margin-bottom:0px; ;">@i.patient.Phone</p>
                        <p class="text-center" style="color: grey;">@i.patient.Email</p>


                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                <div class="form row">
                                    <div class="col-md-5">
                                        <strong> Patient ID</strong>
                                    </div>
                                    <div class="col-md-7">
                                        <p align="right">@i.patient.PatientID</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form row">
                                    <div class="col-md-5">
                                        <strong> First Name</strong>
                                    </div>
                                    <div class="col-md-7">
                                        <p align="right">@i.patient.FirstName</p>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="form row">
                                    <div class="col-md-5">
                                        <strong>Last Name</strong>
                                    </div>
                                    <div class="col-md-7">
                                        <p align="right">@i.patient.LastName</p>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="form row">
                                    <div class="col-md-5">
                                        <strong>DOB</strong>
                                    </div>
                                    <div class="col-md-7">
                                        <p align="right">@i.patient.DOB.ToShortDateString()</p>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="form row">
                                    <div class="col-md-5">
                                        <strong>Gender</strong>
                                    </div>
                                    <div class="col-md-7">
                                        <p align="right">@i.patient.Gender</p>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="form row">
                                    <div class="col-md-5">
                                        <strong>Blood Group</strong>
                                    </div>
                                    <div class="col-md-7">
                                        <p align="right">@i.patient.BloodGroup</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form row">
                                    <div class="col-md-5">
                                        <strong>Doctor's Name</strong>
                                    </div>
                                    <div class="col-md-7">
                                        <p align="right">@i.doctor.FirstName @i.doctor.LastName</p>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                    break;
                }
            </div>



            <div class="card" style="width:60rem; height:55rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);">
                <div class=" card-header bg-dark" style="margin-left:-1px; margin-right:-1px;">
                    <h4 class="text-center" style="color:#fafafa">Treatment Details</h4>
                </div>
                <div class="scrollb scrollbar scrollbar-black bordered-black thin" style="padding: 20px; ">

                    @foreach (var item in Model)
                    {
                        <div class="form row">
                            <div class="col-md-6">
                                <h4 style="margin-top:15px;"> Checkup</h4>
                            </div>
                            <div class="col-md-6" align="right">
                                <p style="margin-top:15px;"><a href="@Url.Action("Edit", "Treatments", new { id = item.treatment.TreatmentID, doses = item.treatment.Doses, bm = item.treatment.BeforeMeal,cd=item.treatment.CheckupDate,l=1 })"><span class="fa fa-edit" style="color:black;" aria-hidden="true"></span></a></p>
                                <p style="margin-top:15px;"><a href="@Url.Action("Details", "Treatments", new { id = item.treatment.TreatmentID})"><span class="fa fa-list" style="color:black;" aria-hidden="true"></span></a></p>
                                <p style="margin-top:15px;"><a href="@Url.Action("Delete", "Treatments", new { id = item.treatment.TreatmentID})"><span class="fa fa-trash" style="color:black;" aria-hidden="true"></span></a></p>
                            </div>
                        </div>
                        <hr style="margin-top:0px;">
                        <br />
                        <div class="form-row">
                            <div class="col-md-4">
                                <label class="col-form-label">Symptoms</label>
                            </div>
                            <div class="col-md-5">
                                <p style="color:dimgrey">@item.treatment.Symptoms</p>
                            </div>
                        </div>
                        <br />

                        <div class="form-row">
                            <div class="col-md-4">
                                <label class="col-form-label">Diagnosis</label>
                            </div>
                            <div class="col-md-5">
                                <p style="color:dimgray">@item.treatment.Diagnosis</p>
                            </div>
                        </div>
                        <br />

                        <div class="form-row">
                            <div class="col-md-4">
                                <label class="col-form-label">Checkup Date</label>
                            </div>
                            <div class="col-md-5">
                                <p style="color:dimgray">@item.treatment.CheckupDate.ToShortDateString()</p>
                            </div>
                        </div>
                        <br />

                        <div class="form-row">
                            <div class="col-md-4">
                                <label class="col-form-label">Medicine</label>
                            </div>
                            <div class="col-md-5">
                                <p style="color:dimgray">@item.treatment.Medicine</p>
                            </div>
                        </div>
                        <br />

                        <div class="form-row">
                            <div class="col-md-4">
                                <label class="col-form-label">Dosage</label>
                            </div>
                            <div class="col-md-5">
                                <p style="color:dimgray">@item.treatment.Doses</p>
                            </div>
                        </div>
                        <br />

                        <div class="form-row">
                            <div class="col-md-4">
                                <label class="col-form-label">Checkup Date</label>
                            </div>
                            <div class="col-md-5">
                                <p style="color:dimgray">@item.treatment.BeforeMeal</p>
                            </div>
                        </div>
                        <br />
                        <hr />


                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <div>
            <button onclick="location.href='@Url.Action("PatientList","Patients",new { l=1})';return false;" class="btn btn-dark">Back To List</button>
        </div>

    </div>
</body>
</html>