@model IEnumerable<HospitalManagementSystem.Models.PatientReport>
@{
    ViewBag.Title = "PatientListRecep";
    if (ViewBag.layout == 2)
    {
        Layout = "~/Views/Shared/_LayoutRecep.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

    <html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="~/Content/Styles.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet">
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    </head>
    <body>
        <div class="min-vh-100">
            <div class="container-fluid py-4">
                <br/>
                <h4 class="text-center text-uppercase">Patient's List</h4>
                <br/>

                <table class="table">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>Patient ID</th>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Select</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.patient.PatientID</td>
                            <td><img src="@Url.Content(@item.patient.Photo)" style="height:80px;width:80px;" /></td>
                            <td>@item.patient.FirstName @item.patient.LastName</td>
                            <td>@item.patient.DOB.ToShortDateString()</td>
                            <td>@item.patient.Email</td>
                            <td>@item.patient.Phone</td>
                            <td>
                                <a href="@Url.Action("PatientReportSummary","Patients",new { id=item.patient.PatientID,l=2})"><span class="glyphicon glyphicon-list-alt" style="color:black;" aria-hidden="true"></span></a>
                                @*@Html.ActionLink("New", "Create", "Treatments", new { id = item.patient.PatientID }, new { })*@
                            </td>
                        </tr>
                    }

                </table>
                <hr />
            </div>
        </div>
    </body>
    </html>