@model IEnumerable<HospitalManagementSystem.Models.PatientReport>

@{
    ViewBag.Title = "PatientListAcc";
    if (ViewBag.n == 3)
    {
        Layout = "~/Views/Shared/_LayoutAcc.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

    <html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="~/Content/Styles.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet">
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    </head>
    <body>
        <div class="min-vh-100">
            <div class="container-fluid py-4">
                <br />
                <h4 class="text-center text-uppercase">Patient's List</h4>
                <table class="table">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>Patient ID</th>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>New</th>
                            <th>View/Edit</th>

                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.patient.PatientID</td>
                            <td><img src="@Url.Content(@item.patient.Photo)" style="height:80px;width:80px;" /></td>
                            <td>@item.patient.FirstName @item.patient.LastName</td>
                            <td>@item.patient.DOB.ToShortDateString()</td>
                            <td>@item.patient.Email</td>
                            <td>@item.patient.Phone</td>
                            <td>

                                <a href='@Url.Action("Create", "Payments", new { id = item.patient.PatientID, l = 3 })'><span class="glyphicon glyphicon-plus" style="color:black;" aria-hidden="true"></span></a>
                            </td>
                            <td>
                                <a href="@Url.Action("PaymentReport","Payments",new { id=item.patient.PatientID,l=3})"><span class="glyphicon glyphicon-credit-card" style="color:black;" aria-hidden="true"></span></a>
                                @*@Html.ActionLink("New", "Create", "Treatments", new { id = item.patient.PatientID }, new { })*@
                            </td>

                        </tr>
                    }

                </table>
                <hr />
            </div>
        </div>
        <div class="form-actions no-color">
            <button onclick="location.href='@Url.Action("Dashacc","Staffs",new { l=2})';return false;" style="font-size:14px;" class="btn btn-dark">Back To List</button>

        </div>
    </body>
    </html>

