@model IEnumerable<HospitalManagementSystem.Models.PaymentReport>

@{
    ViewBag.Title = "Index";
    if (ViewBag.n == 3)
    {
        Layout = "~/Views/Shared/_LayoutAcc.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="@Url.Action("~/scripts/jquery-3.3.1.min.js")"></script>
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
</head>
<body>

    <div class="container-fluid py-4">
        <h4 class="text-center text-uppercase">Patient Details</h4>
        <table class="table table-striped table-bordered">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Patient ID</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.patient.PatientID</td>
                        <td><img src=@Url.Content(i.patient.Photo) style="height:80px;width:80px;" /></td>
                        <td>@i.patient.FirstName @i.patient.LastName</td>
                        <td>@i.patient.DOB.ToShortDateString()</td>
                        <td>@i.patient.Email</td>
                        <td>@i.patient.Phone</td>
                    </tr>
                    break;
                }

            </tbody>
        </table>
    </div>

    <div class="container-fluid py-4">
        <h4 class="text-center text-uppercase">Payment Details</h4>
        <table class="table table-striped table-bordered">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Payment</th>
                    <th>Edit</th>
                    <th>Details</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            Payable Amount: @item.payment.PayableAmount
                            <br />Payment Date: @item.payment.PaymentDate.ToShortDateString()
                            <br />Payment Method: @item.payment.PaymentMethod
                            <br />Payment Status : @item.payment.Status
                        </td>
                        <td><a href="@Url.Action("Edit","Payments",new { id=item.payment.PaymentID,pm=item.payment.PaymentMethod,s=item.payment.Status,d=item.payment.PaymentDate,l=3 })"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                        <td><a href="@Url.Action("Details","Payments",new { id=item.payment.PaymentID,l=3 })"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></td>
                        <td><a href="@Url.Action("Delete","Payments",new { id=item.payment.PaymentID ,l=3})"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <button onclick="location.href='@Url.Action("PatientListAcc","Payments",new { l=3})';return false;" class="btn btn-dark">Back To List</button>
    </div>
</body>
</html>

