@{
    ViewBag.Title = "DashSuper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="~/Scripts/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    </head>
<body>

    <div class=" container align-content-center" style="margin-top:50px;background-color:white">
        <div class="container">
            <br />
            <br />
            <div class="form-row" style="margin-left:25px;">

                <div class="form group col-md-4">
                    <div class="card bg-primary text-white ; " style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25) ;width: 25rem; height: 17rem; color: white;border:none;border-radius:15px">
                        <div class="card-header text-xl-right " style="font-size:20px;">
                            <div class=" fa fa-user-md text-xl-left" style="font-size:20px;margin-right:125px"></div>
                            Doctor
                        </div>
                        <div class="card-body;">

                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <ul style="padding-left:20px; padding-top:35px;">
                                <li>
                                    <a href='@Url.Action("Index","Doctors")' class="card-link" style="color: white;font-size: 16px;"> View All Doctor Info</a>
                                </li>
                                <li><a href='@Url.Action("Create","Doctors")' class="card-link" style="color: white; font-size:16px;"> Add New Doctor Info</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                    <div class="form-group col-md-4">
                    <div class="card bg-info text-white;" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);width: 25rem; height: 17rem;  color: white;border:none;border-radius:15px ">
                        <div class="card-header text-xl-right " style="font-size:20px;">
                            <div class=" fa fa-bed text-xl-left" style="font-size: 20px; margin-right: 125px "></div>
                            Patient
                        </div>

                        <div class="card-body;">

                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <ul style="padding-left:20px; padding-top:25px;">
                                <li><a href='@Url.Action("Create","Patients")' class="card-link" style="color: white; font-size:16px;"> Add New Patient Info</a></li>
                                <li><a href='@Url.Action("Index","Patients")' class="card-link" style="color: white; font-size:16px;">View Patient's List</a></li>
                                <li><a href='@Url.Action("PatientListRecep","Patients")' class="card-link" style="color: white; font-size:16px;">Report Summary</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="card bg-warning text-white;" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);width: 25rem;height: 17rem; color: white;border:none;border-radius:15px">
                        <div class="card-header text-xl-right " style="font-size:20px;">
                            <div class=" fa fa-users text-xl-left" style="font-size:20px;margin-right:140px"></div>
                            Staff
                        </div>
                        <div class="card-body;">


                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <ul style="padding-left:20px; padding-top:35px;">
                                <li><a href='@Url.Action("Create","Staffs")' class="card-link" style="color: white; font-size:16px;"> Add New Info</a></li>
                                <li><a href='@Url.Action("Index","Staffs")' class="card-link" style="color: white;font-size: 16px;">View All Staff Members</a></li>
                                @*<li><a href='@Url.Action("Delete","Staffs")' class="card-link" style="color: white; font-size:16px;">Delete Info</a></li>*@
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />

            <div class="form-row" style="margin-left:25px;">

                <div class="form-group col-md-4">
                    <div class="card bg-success text-white;" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);width: 25rem; height: 17rem; color: white;border:none;border-radius:15px">
                        <div class="card-header text-xl-right " style="font-size:20px;">
                            <div class=" fa fa-credit-card text-xl-left" style="font-size:20px;margin-right:65px"></div>
                            Patient Report
                        </div>
                        <div class="card-body;">
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <ul style="padding-left:20px; padding-top:25px;">
                                <li><a href='@Url.Action("PatientList","Patients")' class="card-link" style="color: white; font-size:16px;">Generate New Report</a></li>
                                <li><a href='@Url.Action("PatientList","Patients")' class="card-link" style="color: white; font-size:16px;">View Existing Report</a></li>
                                <li><a href='@Url.Action("PatientList","Patients")' class="card-link" style="color: white; font-size:16px;">Edit Existing Report</a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>


                 <div class="form-group col-md-4">
                    <div class="card bg-danger text-white ;" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);width: 25rem;height: 17rem; color: white;border:none;border-radius:15px">
                        <div class="card-header text-xl-right " style="font-size:20px;">
                            <div class=" fa fa-user-md text-xl-left" style="font-size:20px;margin-right:110px"></div>
                            Payment
                        </div>
                        <div class="card-body;">


                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <ul style="padding-left:20px; padding-top:25px;">
                                <li><a href='@Url.Action("PatientListAcc","Payments")' class="card-link" style="color: white; font-size:16px;">Payment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="form-group col-md-4">
                    <div class="card bg-secondary text-white ;" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);width: 25rem; height: 17rem; color: white; border: none; border-radius: 15px">
                        <div class="card-header text-xl-right " style="font-size:20px;">
                            <div class=" fa fa-edit text-xl-left" style="font-size:20px;margin-right:90px"></div>
                            Edit Profile
                        </div>
                        <div class="card-body;">


                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <ul style="padding-left: 20px; padding-top: 25px;">
                                <li><a href='@Url.Action("EditProfile","Home")' class="card-link" style="color: white; font-size:16px;">Edit Profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    

</body>
</html>
