@model HospitalManagementSystem.Models.SuperAdmin
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class=" d-flex justify-content-center align-items-center vh-100" style="background-color:#E5E5E5;">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="card" style="width: 35rem;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);">
                <div class=" card-header text-center background-color:red700">
                   Edit Admin Info
                </div>
                <div class="card-body" style="padding-left:20px;">
                    <br />
                    <div class="form row">

                        <label class="col-sm-3 col-form-label"> Username</label>
                        <div class="col-sm-9">
                            @Html.TextBox("Email", "", "", new { @class = "form-control" })
                            @Html.ValidationMessage("Email", "", new { @class = "text-danger" })

                            @*<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">*@
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <label class=" col-sm-3 col-form-label"> New Password</label>
                        <div class="col-sm-9">
                            @Html.TextBox("Password", "", "", new { @class = "form-control" })
                            @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                        </div>

                        @*<input type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" placeholder="Enter Password">*@
                    </div>
                    <br />
                    <br />
                    <div class=" d-flex justify-content-center">
                        <button onclick="location.href = '@Url.Action("LogOut", "Home")'; return -false;" type="submit" value="submit" class="btn btn-dark col-sm-4">Save Info!</button>

                    </div>
                </div>

            </div>

        }
    </div>
</body>
</html>