@model HospitalManagementSystem.Models.Staff

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
          .btn-staff,
        .btn-staff:visited,
        .btn-staff:hover,
        .btn-staff:focus {
            background-color: #294b83	 !important;
            border-color: #294b83	 !important;
        }

            .btn-staff:active {
                background-color: #294b83	 !important;
                border-color: #294b83	 !important;
                color: white !important;
            }
   
    </style>

</head>
<body>

    <div class=" d-flex justify-content-center align-items-center ">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <br/>
            <br/>

            <div class="card" style="width: 78rem;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);">
                <div class="card-header text-center" style="background-color:#294b83;  margin-left:-1px; margin-right:-1px; margin-top:-1px;">
                    <h4 style="color:white; "> Add Staff Member</h4>
                </div>
                <div class="card-body" style="padding-left:25px;">

                    <hr />
                    <div class="form row">
                        <label class="col-sm-3 col-form-label">First Name</label>
                        <div class="col-sm-9 ">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />

                    <div class=" form row ">
                        <label class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />

                    <div class=" form row">
                        <label class=" col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />

                    <div class=" form row">
                        <label class=" col-sm-3 col-form-label">Phone</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />

                    <div class=" form row">
                        <label class="col-sm-3 col-form-label">Staff Category</label>
                        <div class="col-sm-9">
                            @Html.DropDownList("Category", new List<SelectListItem>
                             {
                                 new SelectListItem{Text="Accountant",Value="Accountant"},
                                 new SelectListItem{Text="Laboraties",Value="Laboraties"},
                                 new SelectListItem{Text="Receptionist",Value="Receptionist"}
                            })
                            @Html.ValidationMessageFor(model => model.SCategory, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />

                    <div class=" d-flex justify-content-center">
                        <button type="submit" value="submit" class="btn btn-staff col-sm-4" style="color:white">Add</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
        <button onclick="location.href='@Url.Action("Index")';return false;" class="btn btn-dark">Back To List</button>
    </div>
   
</body>
</html>

