@model HospitalManagementSystem.Models.Staff

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        dt, dd {
            font-size:12px;
        }
    </style>
</head>
<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
       
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <br/>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <br/>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <br/>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <br/>
        <dt>
            @Html.DisplayNameFor(model => model.SCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCategory)
        </dd>
        <br/>
    </dl>
</div>
<p>
   @* @Html.ActionLink("Edit", "Edit", new { id = Model.StaffID })*@
    <button onclick="location.href='@Url.Action("Index")';return false;" class="btn btn-dark" style="font-size:12px;">Back To List</button>
</p>
