<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="~/Scripts/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/main.js"></script>
    <style>
        a.disabled {
            pointer-events: none;
            cursor: default;
        }
    </style>
</head>
<body style="padding-top:0px; padding-bottom:0px;overflow-x:hidden;overflow-y:hidden">
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4 pt-5">
                <h1><a href="" class="logo">Apollo</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a href='@Url.Action("Dashacc","Staffs")'><span class="glyphicon glyphicon-th mr-3"></span>Dashboard</a>
                    </li>
                    <li>
                        <a href='@Url.Action("Dashdoc","Doctors")' class="disabled"><span class="fa fa-user-md mr-3"></span>Doctors</a>
                    </li>
                    <li>
                        <a href='@Url.Action("Index","Patients")' class="disabled"><span class="fa fa-bed mr-3"></span>Patients</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true"><span class="fa fa-user mr-3"></span>Staffs</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href='@Url.Action("Dashrecep","Staffs")' class="disabled"><span class="fa fa-medkit mr-3"></span>Receptionist</a>
                            </li>
                            <li>
                                <a href='@Url.Action("Dashacc","Staffs")'><span class="fa fa-book mr-3"></span>Accountants</a>
                            </li>
                            <li>
                                <a href='@Url.Action("","")' class="disabled"><span class="fa fa-flask mr-3"></span>Laboraties</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href='@Url.Action("PatientList","Patients")' class="disabled"><span class="fa fa-credit-card mr-3"></span>Payment</a>
                    </li>
                    <li>
                        <a href='@Url.Action("","")' class="disabled"><span class="glyphicon glyphicon-user mr-3"></span>Edit Profile</a>
                    </li>
                </ul>

                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved <br />Apoolo Hospital Managemnet</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav>
        <div class="container body-content min-vh-100" style="background-color:white">
            @RenderBody()
            <hr style="color:black" />
            <footer>
                <p>&copy;@DateTime.Now.Year - Apollo Hospital Management</p>
            </footer>
        </div>
    </div>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>