@model IEnumerable<HospitalManagementSystem.Models.PatientReport>
@{
    ViewBag.Title = "PatientList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid py-4">
        <h4 class="text-center text-uppercase">Patient's List</h4>
        <table class="table table-striped table-bordered">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Patient ID</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>New</th>
                    <th>View/Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.patient.PatientID</td>
                        <td><img src="@Url.Content(@item.patient.Photo)" style="height:80px;width:80px;" /></td>
                        <td>@item.patient.FirstName @item.patient.LastName</td>
                        <td>@item.patient.DOB</td>
                        <td>@item.patient.Email</td>
                        <td>@item.patient.Phone</td>
                        <td>@Html.ActionLink("New", "Create", "Treatments", new { id = item.patient.PatientID }, new { })</td>
                        <td>@Html.ActionLink("View", "ExistingPatientReport", new { id = item.patient.PatientID })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>