@model IEnumerable<HospitalManagementSystem.Models.Treatment>

@{
    ViewBag.Title = "Index";
    if (ViewBag.layout == 1)
    {
        Layout = "~/Views/Shared/_LayoutDoc.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
    <h2>Treatment's List</h2>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symptoms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeforeMeal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advice)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FirstName)
                </td>
                <td>
                    @item.CheckupDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Symptoms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medicine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeforeMeal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Advice)
                </td>
            </tr>
        }

    </table>
